<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610299610557-02ffiq31jm1c3cth6bmq9dqr808h7m2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610299610557-02ffiq31jm1c3cth6bmq9dqr808h7m2s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>610299610557-21dqv0j61ocbfifcd2np158p6s5g6bt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQlNa4MmaFMkP0YINriYcxi0NeSj8rII0</string>
	<key>GCM_SENDER_ID</key>
	<string>610299610557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seeds.investment</string>
	<key>PROJECT_ID</key>
	<string>seeds-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>seeds-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610299610557:ios:da5136ebb04d640b793ed4</string>
	<key>DATABASE_URL</key>
	<string>https://seeds-finance-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>